<div class="main">

<h1>Galeria#info</h1>
<p>Esta es una gAleria de plantas, las plantas alimentan a los animales que con el tiempo moriran y se convertiran en abono, Who is eating whom?? </p>
<h2>

<%=link_to "V O L V E R  A  L A  G A L E R I A ", root_path%>
</h2>
</div>
